{%extends 'base.html'%}
{% load static %}
{% block searchForm %} 
  <form class="navbar-form" action="" id="products-search-form">
    <div class="input-group">
        <input type="text" class="form form-control mr-sm-2 text-center" placeholder="Search for products" id="search-input">
        <button class="btn btn-light round-btn" type="submit">
          <li class="fa fa-search text-danger"></li>
        </button>
    </div>
  </form>
{% endblock %}
{%block carousels%}
<!-- main contents  div-->
<hr>
<div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12" style="margin:0px; ">
          <div class="row shadow-sm p-3 mb-5 bg-white text-danger">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <h5><span class="badge bg-danger text-light">{{products|length}}</span></53>
            </div>
            {% if products %}
              {% for product in products %}
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="shadow-lg p-3 mb-5 bg-white j-items" id="content">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <img src="{{product.picture.url}}" width="100%" height="100%">
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <a href="product/{{product.id}}"><p>
                            <strong class="text-light btn-danger rounded-circle">{{product.name}}</strong>
                          </a>
                          <h5 class="">
                            <span class="text-danger">{{product.price}} {{product.currency}}</span>
                            <span>
                                <button class="btn btn-outline-danger btn-sm text-danger">
                                  <a href="{% url 'embeddedsite:cart' product.id %}" class="text-decoration-none text-danger">
                                    Add to cart 
                                    <i class="fa fa-shopping-cart text-danger" aria-hidden="true"></i>
                                  </a>
                                </button>
                            </span>
                          </h5>
                          <p class="lead text-dark">{{product.description}}</p>  
                          <button class="btn btn-outline-danger lead">
                            <a class="text-danger text-decoration-none" href="{% url 'embeddedsite:product' product.id %}">Checkout</a>
                          </button>
                      </div>
                    </div>
                  </div>
              </div>
              {%endfor%}
            {% else %}
              <p>
                  <h3 class="lead text-danger text-center">Contents not added yet!</h3>
              </p>   
            {% endif %}
          </div>
        </div>
    
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-0 sidebar">
          <!--div class="shadow-sm p-3 mb-5 bg-light home-sidebar content" style="margin: 2px;"-->
              <div class="row shadow-lg p-3 mb-5 bg-white text-danger">
                <h6>Projects <span class="badge bg-danger text-light">{{projects|length}}</span></h6><hr>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-success">
                      {%for project in projects%}
                      <div class="j-items">
                          <h4>{{project.title}}</h4>
                          <img src="{{project.image.url}}">
                      </div>
                      {%endfor%}
                  </div>
              </div>

              <div class="row shadow-lg p-3 mb-5 bg-white text-danger">
                <h6>Tutorials <span class="badge bg-danger text-light">{{tutorials|length}}</span></h6><hr>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: left;margin-bottom: 10px;">
                    <ul>
                      {%for tutorial in tutorials%}
                        <li>                          
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                          <a href="tutorials/{{tutorial.id}}">
                            <span class="text-dark" style="font-size: small;">{{tutorial.title}}</span>
                          </a>                
                        </li>
                      {%endfor%}
                    </ul>
                </div>
              </div>
          <!--/div-->
        </div>

    </div>
  </div>
</div>
{%endblock%}
