{%extends 'base.html'%}
{%load static%}
{% block title %}Product{% endblock %}
{% block searchForm %}
    <form class="navbar-form" action="" id="products-search-form">
        <div class="input-group">
            <input type="text" class="form form-control mr-sm-2" placeholder="Search for products" id="search-input">
            <button class="btn btn-light round-btn" type="submit">
               <li class="fa fa-search text-danger"></li>
            </button>
        </div>
    </form>
{% endblock %}
{%block carousels%}
<hr>
<div class="container-fluid">
    <div class="row">
        <!--div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" id="leftSide" style="text-align: left;">
            <div class="row shadow-lg p-3 mb-5 bg-white text-dark">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: left;margin-bottom: 10px;padding: 0;">
                    <h3>Tutorials<span class="badge bg-warning">{{tutorials|length}}</span></h3><hr>
                    <ul>
                        {%for tutorial in tutorials%}
                        <li>
                            <a href="/tutorials/{{tutorial.id}}"><p class="titles" style="font-size: medium;">{{tutorial.title}}</p></a>                
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div-->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 product" id="middle">
            <div class="shadow-sm p-3 mb-5 bg-white text-dark">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="titles text-info">{{product.name}}
                        <small>
                            <span class="seperator">|</span> <span class="product-price text-danger">{{product.price}} {{product.currency}}</span>
                        </small>
                </h2><hr>
                <div class="j-items" id="content" style="padding-bottom: 5px;">
                        <p>
                        <img class="img-round" src="{{product.picture.url}}" alt="{{product.name}} image" width="100%" height="100%">
                            <p>
                                <a href="/cart/{{product.id}}"><button class="btn btn-info">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
                                <a href="/order/{{product.id}}"><button class="btn btn-info">Place order</button></a>
                            </p>
                            <p class="content text-dark lead">{{product.description}}</p>
                        </p>
                </div>
            </div>
            </div>
        </div>
        <!--div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" id="rightSide">
            <div class="row shadow-lg p-3 mb-5 bg-white text-dark">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3>Projects<span class="badge bg-warning">{{projects|length}}</span></h3><hr >
                    {%for project in projects%}
                        <div class="text-dark j-items">
                            <h4>{{project.title}}</h4>
                            <img src="{{project.image.url}}">
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div-->
    </div>
</div>
{%endblock%}
