{%extends 'base.html'%}
{%load static%}
{% block title %} Products {% endblock %}
{% block searchForm %}
    <form class="navbar-form" action="" id="products-search-form">
        <div class="input-group">
            <input type="text" class="form form-control mr-sm-2" placeholder="Search for products" id="search-input">
            <button class="btn btn-light round-btn" type="submit">
                <li class="fa fa-search text-danger"></li>
            </button>
        </div>
    </form>
{% endblock %}
{% block carousels %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 sidebar" style="text-align: left;margin-bottom: auto;">
        <div class="row shadow-md p-3 mb-5 bg-white text-danger">
            <h6>Tutorials <span class="badge bg-danger text-light">{{tutorials|length}}</span></h6>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-dark">
                <ul>
                {% for tutorial in tutorials %}
                    <li>
                        <i class="fa fa-graduation-cap text-danger" aria-hidden="true"></i>
                        <a href="tutorials/{{tutorial.id}}">
                            <span class="text-dark" style="font-size: small;">{{tutorial.title}}</span>
                        </a>                
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 ">
        <div class="row shadow-sm p-3 mb-5 bg-white text-danger">
            <h5><span class="badge badge-pill bg-danger text-light">{{products|length}}</span></h5><hr>
            {%for product in products%}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="shadow-lg p-3 mb-5 bg-white j-items multiple-items" id="content">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <img src="{{product.picture.url}}" width="100%" height="100%">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <a href="product/{{product.id}}"><p>
                                <strong class="text-info">{{product.name}}</strong>
                            </a>
                            <h5 class="text-danger">{{product.price}} {{product.currency}}
                                <span>
                                    <button class="btn btn-outline-danger btn-sm text-light">
                                        <a class="text-decoration-none text-danger" href="{% url 'embeddedsite:cart' product.id %}">Add to cart
                                            <i class="fa fa-shopping-cart text-danger" aria-hidden="true"></i>
                                        </a>
                                    </button>
                                </span>
                            </h5>
                        
                            <p class="lead text-dark">{{product.description}}</p>  
                            <button class="btn btn-outline-danger text-light lead">
                                <a class="text-decoration-none text-danger" href="{% url 'embeddedsite:product' product.id %}">Checkout</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 sidebar">
        <div class="row shadow-sm p-3 mb-5 bg-white text-danger">
            <h6>Projects <span class="badge bg-danger text-light">{{projects|length}}</span></h6><hr >
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                {%for project in projects%}
                <div class="j-items">
                    <h4>{{project.title}}</h4>
                    <img src="{{project.image.url}}">
                </div>
                {%endfor%}
            </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}