{%extends 'base.html'%}
{%load static%}
{%block carousels%}
<hr>
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2  bg-success" style="text-align: left;margin-bottom: auto;">
        <h3>Tutorials<span class="badge">{{tutorials|length}}</span></h3>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-warning " style="text-align: left;margin-bottom: 10px;">
                <ul>
                {%for tutorial in tutorials%}
                    <li>
                        <a href="tutorials/{{tutorial.id}}"><p class="titles" style="font-size: medium;">{{tutorial.title}}</p></a>                
                    </li>
                {%endfor%}
                </ul>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 bg-success" style="margin:0px; border: 1px solid white">
        <h2>Products<span class="badge">{{products|length}}</span></h2><hr>
        {%for product in products%}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-secondary">
            <div class="jumbotron text-light j-items" id="content" style="padding-bottom: 5px;">
                    <p>
                        <img src="{{product.picture.url}}" alt="{{product.name}}">
                        <p>
                            <a href="/product/{{product.id}}">
                                <small>
                                    <p class="btn btn-warning">{{product.price}} {{product.currency}}</p>
                                    <p class="btn btn-info">{{product.name}}</p>
                                </small>
                            </a>
                        </p>
                    </p>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2  bg-success"><h3>Projects<span class="badge">{{projects|length}}</span></h3><hr >
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-success">
            {%for project in projects%}
            <div class="jumbotron bg-success j-items">
                <h4>{{project.title}}</h4>
                <img src="{{project.image.url}}">
            </div>
            {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
