{%extends 'base.html'%}
{%load static%}
{%block carousels%}
<hr>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2  bg-success" style="text-align: left;margin-bottom: auto;">
                <h3>Tutorials<span class="badge">{{tutorials|length}}</span></h3>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-warning " style="text-align: left;margin-bottom: 10px;">
                    <ul>
                        {%for tutorial in tutorials%}
                            <li>
                                <a href="/tutorials/{{tutorial.id}}"><p class="titles" style="font-size: medium;">{{tutorial.title}}</p></a>                
                            </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 bg-success" style="margin:0px; border: 1px solid white"><h2>Tutorials</h2><hr>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-secondary">
                    <div class="jumbotron bg-success text-light j-items">
                        <p><h3 class="titles"><u>{{tutorship.tutorial.title}}</u></h3>
                            <span class="text-info"><b>Totor: </b>
                                {%if tutorship.author.user.first_name%}
                                    {{tutorship.author.user.first_name}} {{tutorship.author.user.last_name}

                                {%else%}
                                    {{tutorship.author.user.username}}
                                {%endif%}
                            </span></p>
                        <img src="{{tutorship.Tutorial.image.url}}">
                        <p>{{tutorship.tutorial.introduction}}</p>
                        <p>{{tutorship.tutorial.content}}<br>
                        <img src="{{tutorship.tutorial.images.url}}" alt="tutorial image"> <br>
                        <video controls width="512" height="288" autoplay src="{%static 'videos/tutorial.mp4'%}" poster="{%static 'images/alafasy.jpg'%}" style="background-color: black;border: 2px solid white;"></video>
                        </p>    
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-secondary">
                        <div class="jumbotron bg-success text-light j-items"><h4>Comments<span class="badge">{{comments|length}}</span></h4><hr >
                            <div class="well">
                                <form method="POST" action="/comment">
                                        
                                        <p><input class="form form-control"  type="email" placeholder="Email" name="email" required ></p>
                                        
                                        <p><textarea class="form form-control" required placeholder="Enter comment here" cols="48" rows="10"></textarea></p>
                                        <p><button class="btn btn-primary" type="submit">Submit</button></p>
                                </form>
                            </div>
                            {%for comment in comments%}
                            <div class="jumbotron bg-success j-items">
                               <p>{{comment.user.username}} <span>{{comment.date_of_comment.date}} {{comment.date_of_comment.time}}</span></p>
                               <p>{{comment.content}}</p>
                            </div>  
                            {%endfor%}
                        </div>    

                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2  bg-success"><h3>Projects<span class="badge">{{projects|length}}</span></h3><hr >
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bg-success">
                    {%for project in projects%}
                    <div class="jumbotron bg-success j-items">
                        <h4>{{project.title}}</h4>
                        <img src="{{project.image.url}}">
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
