{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="{%static 'style/customstyles.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
	<!--link rel="stylesheet" type="text/css" href="{%static 'bootstrap/style.css'%}"-->
	<title>Bootstrap page</title>
</head>
<body>
	<div class="container-fluid">
		<!-- serach form-->
		<div class="row bg-success">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xlg-2 col-lg-2 col-md-12 col-sm-12"><div style="border:10px solid white; border-radius:20px;text-align: center;"><h3 class="text-light text-info text-left" style="text-align: center;">Ardesp</h3></div>
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-info text-left ">Embedded system for everyone</div>
					</div>
						<!--div class="col-lg-6 col-xl-6 col-md-12 col-sm-12"><img src="images/images/shatri2.jpg"></div-->
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"><img class="img-circle" src="{%static 'images/logo.png'%}"></div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
						<form class="navbar-form " action="/search">
						  <div class="input-group">
						    <input type="text" class="form-control" placeholder="Search">
						    <div class="input-group-btn">
						      <button class="btn btn-default" type="submit">
						        <i class="glyphicon glyphicon-search"></i>
						      </button>
						    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>	
		</div>
		<!--Navbar div-->
		<div class="row">
				<nav class="navbar navbar-inverse fixed-top">
				  <div class="container-fluid bg-dark text-light">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span> 
				      </button>
				      <!--a class="navbar-brand text-primary" href="#">Ardesp</a-->
				    </div>
				    <div class="collapse navbar-collapse" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li ><a href="#">Home</a></li>
				        <li><a href="/products">Products</a></li>
				        <li><a href="#">Services</a></li> 
				        <li><a href="/tutorials">Tutorials</a></li> 
				        <li><a href="#">Projects</a></li>
				        <li><a href="#">Circuits</a></li> 
				        <li><a href="#">Enquiry</a></li> 
				        <li><a href="#">About us</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
		</div>
	
        <!-- Carousel  div-->
        {%block carousels%}{%endblock%}
		
		<hr>
		<!-- footer -->
		<div class="row" >
			<div class="container-fluid bg-success" style="text-align: center;">
				<div class="row">
					<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 bg-success"><h3>Team members</h3>
						{%for team_member in team_members%}
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
								<div class="jumbotron">
									<img class="img-circle" src="{{team_member.picture.url}}" alt="member image">
									<p class="text-light">{{team_member.position}} | <span>{{team_member.phone_number}}</span></p>
									
								</div>
							</div>
						{%endfor%}
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-md-12 col-lg-4 col-sm-12 bg-success"><h3>Our Address</h3>
						<p>No. 2 P.T.I. computer village shopping complex, Effurun Delta state. Nigeria</p>
					</div>
					<div class="col-xl-4 col-md-12 col-lg-4 col-sm-12 bg-dark bg-success float-right"><h3>Contact us</h3>
						<p>+2349061983150</p>
						<p>+2348133306065</p>
						<p>ardesp@gmail.com</p>
					</div>
					<div class="col-xl-4 col-md-12 col-lg-4 col-sm-12 bg-success float-center"><h3>Our social media links</h3>
						<p><a href="facebook.com/ardesp">FaceBook</a></p>
						<p><a href="twitter.com/adresp">Twitter</a></p>
						<p><a href="instagram.com/ardesp">Instagram</a></p>
						<p><a href="linkedin.com/ardesp">LinkedIn</a></p>
					</div>	
				</div>
				<div class="row">
					<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 align-center" style="text-align: center;"><span class="text-secondary" >&#64;2020Copyright:ardesp.com</span></div>
				</div>
			</div>	
		</div>
	</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		 <!-- Include all compiled plugins (below), or include individual files as needed --> 
		 <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
</html>