{%extends 'base.html'%}
{% load bootstrap4 %}
{% block title %} Sign up{% endblock %}
{% block searchForm %}
    <form class="navbar-form" action="" id="products-search-form">
        <div class="input-group">
            <input type="text" class="form form-control mr-sm-2" placeholder="Search for products" id="search-input">
            <button class="btn btn-light round-btn" type="submit">
                <li class="fa fa-search text-danger"></li>
            </button>
        </div>
    </form>
{% endblock %}
{%block carousels%}

<div class="container-fluid" style="text-align: center;">
    <div class="row signup">
        <div class="col-xl-4 col-lg-4"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="shadow-lg p-3 mb-5 bg-white text-dark lead" style="text-align:left; padding: 10px; margin: 5% 0% 5% 0%;">
                    <h1 class="text-info titles text-center" >Sign up <i class="fa fa-user-plus" aria-hidden="true"></i></h1>
                    {%for message in messages%}
                        <div class="alert alert-info lead alert-dismissible show bg-danger" id="comment">{{message}}</div>
                    {%endfor%}
                    <form class="form lead" method="POST" action="{% url 'embeddedsite:signup' %}" id="signup-form">
                        {%csrf_token%}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button name="submit" class="btn btn-info" style="margin-bottom: 10px;">Send</button>
                        {% endbuttons %}
                    </form>
                    <hr>
                    <p class="text-dark">Registered ? <a href="{% url 'embeddedsite:login'  %}" class="text-info">Login.</a></p>
                        
                    </div>
                </div>  
        <div class="col-xl-4 col-lg-4"></div>
    </div>
 </div>
{%endblock%}